# Club Mahindra Regression Model

## Imports

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import SGDRegressor
#from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

## Read Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path="/content/drive/My Drive/DS Training/Meterial/train.csv"

## Basic EDA

In [ ]:
data = pd.read_csv(path)

data.head()

                                      reservation_id  ... amount_spent_per_room_night_scaled
0  07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...  ...                           7.706428
1  03930f033646d073462b35d411616323597715ac4fc398...  ...                           6.662563
2  d145a32920e6587ad95bfe299d80c0affa268220535aaf...  ...                           7.871602
3  cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...  ...                           5.344943
4  937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...  ...                           7.059346

[5 rows x 24 columns]

In [ ]:
data.shape

(341424, 24)

## Preprocessing

In [ ]:
# convert booking date to date format
data['booking_date'] = pd.to_datetime(data['booking_date'],format='%d/%m/%y')
# Extration of year and month 
#data['booking_year'], data['booking_month'] = data['booking_date'].dt.year, data['booking_month'].dt.month
data['booking_year'] = data['booking_date'].dt.year
data['booking_month']= data['booking_date'].dt.month

In [ ]:
 #convert booking date to date format
data['checkin_date'] = pd.to_datetime(data['checkin_date'],format='%d/%m/%y',)

data['checkout_date'] = pd.to_datetime(data['checkout_date'],format='%d/%m/%y')
data['spend_days']= (data['checkout_date']-data['checkin_date']).dt.days
#derive advance bokking days and converting it into numeric
data['advance_booking']= (data['checkin_date']-data['booking_date']).dt.days

In [ ]:
def convert_categorical(df, cols=[]):
  for col in cols:
    df[col]=pd.Categorical(df[col])
  return df

cols_to_cat =["channel_code","main_product_code","persontravellingid",
  "resort_region_code","resort_type_code","season_holidayed_code",
  "state_code_residence","state_code_resort","booking_type_code",]

data = convert_categorical(data,cols_to_cat)

In [ ]:
data.head()

                                      reservation_id  ... advance_booking
0  07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...  ...               0
1  03930f033646d073462b35d411616323597715ac4fc398...  ...              78
2  d145a32920e6587ad95bfe299d80c0affa268220535aaf...  ...               4
3  cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...  ...              40
4  937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...  ...             103

[5 rows x 28 columns]

In [ ]:

# for col in ["spend_days", "advance_booking", "roomnights",
#            ]:
#     gdf = data.groupby("memberid")[col].mean().reset_index()
#     gdf.columns = ["memberid", "member_"+col+"_mean"]
    
    
#  #new_df["member_cumnum_of_booking"] = all_df.groupby("memberid")["booking_date_in_seconds"].cumcount().values

In [ ]:
target_variable= "amount_spent_per_room_night_scaled"
unconvertable= "reservation_id"

y= data[target_variable]

In [ ]:
#After removing the target variable from the data
X.head()

NameError: ignored

In [ ]:
#Finding the correlation for the data in respective with target variable
data.corr()[target_variable].plot() # Convert to baroplot

In [ ]:
#selecting few variables basing on thier preference and check the reg score it should be nearing to 1
#select_cols=["resort_region_code","resort_type_code","room_type_booked_code","roomnights","season_holidayed_code","state_code_residence","state_code_resort","total_pax","booking_year","booking_month","member_age_buckets","resort_id"]

In [ ]:
data.dtypes

In [ ]:
select_cols=["resort_region_code","resort_type_code","room_type_booked_code","roomnights","season_holidayed_code","state_code_residence","state_code_resort","total_pax","booking_year","booking_month","member_age_buckets","resort_id","spend_days","advance_booking","cluster_code","reservationstatusid_code","persontravellingid"]

In [ ]:
X= data[select_cols]
#X= pd.get_dummies(X), inorder to convert the all the variables directly into required float or int in one step (onehot coding)
datatypes=X.dtypes
# calling all the data types with objects into cat_cols
cat_cols=datatypes[datatypes== "object"].index.to_list()
X.dtypes

## Feature Engineering

In [ ]:
#To convert all th e fields into onehot coding insingle time
X= pd.get_dummies(X)

In [ ]:
# X.columns.to_list()
X.shape

In [ ]:
# making another sub set and converting it into int or float through onehot coding and adding back to the orginial data set
# X_cat=X[cat_cols]
# X_cat.head()
# X_cat=pd.get_dummies(X_cat)
# X=pd.concat([X,X_cat],axis=1)
# X.drop(cat_cols,inplace=True,axis=1)

In [ ]:
#Filling the blanks in the data with Zeros
X.fillna(0,inplace=True)

In [ ]:
scaler=StandardScaler()
scaler.fit(X)
scaler.transform(X)
X=scaler.transform(X)

## Get train & test datsets

In [ ]:
#Spliting the data into test and train data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=124345)

In [ ]:
X_train.shape,X_test.shape

In [ ]:
y_train.shape, y_test.shape

## OLS Regression

In [ ]:
#Importing the simple LinearRegression
from sklearn.linear_model import LinearRegression
#Importing the simple LinearRegression
reg = LinearRegression()

In [ ]:
#Fitting the data to the regression
reg.fit(X_train, y_train)

In [ ]:
# reg.coef_,reg.intercept_

In [ ]:
reg.score(X_train, y_train), reg.score(X_test, y_test)

In [ ]:
# reg.predict(X_test)

## SGD regression

In [ ]:
#Fitting the SDG linear Regression method to the same data
clf = linear_model.SGDRegressor()

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf.score(X_train, y_train), clf.score(X_test, y_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=3, random_state=0,n_estimators=1000)

In [ ]:
regr.fit(X_train, y_train)

In [ ]:
regr.score(X_train, y_train), regr.score(X_test, y_test)